/* styles/styles.css */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: lightskyblue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
    background-color:darkgray;
    color: white;
  }
.topnav a.split {
  float: right;
  background-color: gray;
  color: white;
}

* {
  box-sizing: border-box;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: gray;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/* Additional styles for your second page */
.container {
  max-width: 500px;
  margin: auto;
}